@import "basic.css";

@import "button.css";


/*? Логотип */
.logo {
	width: 60px;
	height: 60px;
}
.logo__img {
	width: inherit;
	height: inherit;
}

/*! Шапка сайта */
.header {
	padding: 50px 0px;
}

.header__logo {
	display: flex;
	align-items: center;
}

@media (min-width: 320px){
	.header__logo {
		margin-bottom: 25px;
	}
}
@media (min-width: 769px){
	.header__logo {
		margin-bottom: 0;
	}
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
@media (min-width: 320px){
	.header__inner {
		flex-direction: column;
	}
}
@media (min-width: 769px){
	.header__inner {
		flex-direction: row;
	}
}

.header__title {
	margin-left: 25px;
	font-size: 24px;
	font-weight: 700;
}

@media (min-width: 320px){
	.header__menu {
		width: 100%;
	}
}
@media (min-width: 769px){
	.header__menu {
		width: 60%;
	}
}
@media (min-width: 992px){
	.header__menu {
		width: 50%;
	}
}


.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.menu__link {
	display: inline-block;
	color: var(--font-dark);
	font-weight: 600;
	transition: all 0.5s;
}
.menu__link:hover {
	background-color: var(--accent-color);
	color: white;
	border-radius: 5px;
}

@media (min-width: 320px){
	.menu__link {
		padding: 5px;
		font-size: 12px;
	}
}
@media (min-width: 576px){
	.menu__link {
		font-size: 14px;
		padding: 5px 15px;
	}
}

/*! Контент после шапки */
@media (min-width: 320px){
	.header-content {
		margin-top: 0;
	}
}
@media (min-width: 769px){
	.header-content {
		margin-top: 75px;
	}
}

.header-content__title {
	font-weight: 700;
	color: var(--font-dark);
}
@media (min-width: 320px){
	.header-content__title {
		font-size: 34px;
	}
}
@media (min-width: 769px){
	.header-content__title {
		font-size: 44px;
	}
}

.header-content__text {
	color: var(--font-gray);
	line-height: 1.8;
	margin-top: 20px;
}
@media (min-width: 320px){
	.header-content__text {
		width: 100%;
		font-size: 16px;
	}
}
@media (min-width: 769px){
	.header-content__text {
		width: 70%;
		font-size: 24px;
	}
}


@media (min-width: 320px){
	.header-content__button {
		margin-top: 25px;
	}
}
@media (min-width: 769px){
	.header-content__button {
		margin-top: 70px;
	}
}


/*! Наши услуги  */
.services__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.services__card {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (min-width: 320px){
	.services__card {
		flex-direction: column;
		margin-bottom: 20px;
	}
}
@media (min-width: 576px){
	.services__card {
		flex-direction: row;
	}
}
@media (min-width: 769px){
	.services__card {
		width: 50%;
		padding-left: 10px;
	}
}
@media (min-width: 992px){
	.services__card {
		width: 45%;
		padding-left: 50px;
	}
}
.services__left {
	width: 25%;
}
.services__right {
	width: 70%;
}
.services__image {
	text-align: center;
}

.services__title {
	color: var(--font-dark);
	font-weight: 400;
}
@media (min-width: 320px){
	.services__title {

	}
}
@media (min-width: 769px){
	.services__title{
		font-size: 22px;
	}
}
@media (min-width: 992px){
	.services__title {
		font-size: 28px;
	}
}
.services__text{
	font-size: 14px;
	line-height: 1.55;
	color: var(--font-light-gray);
}

/*! Наши клиенты */
.clients__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.clients__card {
	text-align: center;
	margin-bottom: 35px;
}

@media (min-width: 320px){
	.clients__card {
		width: 100%;
	}
}
@media (min-width: 576px){
	.clients__card {
		width: 50%;
	}
}
@media (min-width: 769px){
	.clients__card {
		width: 33.334%;
	}
}
@media (min-width: 992px){
	.clients__card {
		width: 25%;
	}
}

/*! Наша команда */
.team__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
@media (min-width: 320px){
	.team__inner {
		justify-content: center;
	}
}

.team__card {
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (min-width: 320px){
	.team__card {
		width: 80%;
	}
}
@media (min-width: 576px){
	.team__card {
		width: 48%;
	}
}
@media (min-width: 992px){
	.team__card {
		width: 30%;
	}
}

.team__left {
	width: 45%;
}
.team__right {
	width: 55%;
}

.team__photo {
	border-radius: 50%;
}
@media (min-width: 320px){
	.team__photo {
		width: 75px;
		height: 75px;
	}
}
@media (min-width: 769px){
	.team__photo {
		width: 100px;
		height: 100px;
	}
}

.team__title {
	font-weight: 700;
	color: var(--font-dark);
	margin-bottom: 10px;
}
@media (min-width: 320px){
	.team__title {
		font-size: 20px;
	}
}
@media (min-width: 769px){
	.team__title {
		font-size: 28px;
	}
}
.team__status {
	color: var(--font-light-gray);
	font-size: 14px;
	line-height: 1.55;
}

/*! Footer */
.footer {
	padding: 20px 0px;
	background-color: #F7F7F7;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__media a {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: tomato;
	margin: 0 10px;
}